* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Centraliza o jogo no centro da tela*/
main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
